<h1>Ingrese su orden</h1>
<p>Los siguientes productos estan en esta orden:</p>
<table>
  <tr>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Costo</th>
  </tr>
  <% @order.line_items.each do |ln| %>
    <tr>
      <td style="width: 150px;"><%= ln.product.name %></td>
      <td><%= number_to_currency(ln.product.price) %></td>
      <td style="text-align: right;" ><%= ln.count %></td>
      <td style="text-align: right;" ><%= ln.count * ln.product.price %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
    <td><strong><%= @order.total %></strong></td>
  </tr>
</table>

<%= form_for @order do |f| %>

  <fieldset>
    <legend>Su informacion</legend>
      <ol>
        <li>
          <label for=name>Nombre</label>
          <input id=name name=name type=text placeholder="First and last name" required autofocus>
        </li>
        <li>
          <label for=direccion>Dirección</label>
          <input id=name name=name type=text placeholder="" required autofocus>
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Tipo de tarjeta</legend>
      <ol>
        <li>
          <input id=visa name=cardtype type=radio>
          <label for=visa>VISA</label>
        </li>
        <li>
          <input id=amex name=cardtype type=radio>
          <label for=amex>AmEx</label>
        </li>
        <li>
          <input id=mastercard name=cardtype type=radio>
          <label for=mastercard>Mastercard</label>
        </li>
        <li>
          <label for=numero>Número de tarjeta:</label>
          <input id=name name=name type=text placeholder="" required autofocus>
        </li>
      </ol>
    </fieldset>

  <p>

  <input type="button" value="Realizar compra" onclick="window.location.href='/compra_exitosa/index'">

  </p>
<% end %>
