<!DOCTYPE html>
<html>
<head>
  <title>Farmainvestor</title>
  <%= stylesheet_link_tag    "application","iecss","style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>





<div class="header">
  <div id="logo"><a href="/aboutus/index"><img src="/images/logo.png" alt="" title="" width="162" height="80" border="0" /></a></div>
  <div class="right_header">
    <div class="top_menu">
      <a href="#" class="login">login</a>
      <a href="/signup" class="sign_up">signup</a>
    </div>

    <div id="menu">
      <ul>
        <li><a href="/aboutus/index" title="">Acerca de</a></li>
        <li><a href="/promociones/index" title="">Promoción</a></li>
        <li><a href="/contactenos/index" title="">Contactenos</a></li>
        <li><a href="/products/" title="">Medicinas</a></li>
      </ul>
    </div>
  </div>
</div>




    <%= yield %>
  </div>
</body>
</html>
